:root {
  --red: #fd3543;
  --orange: #ff7b30;
  --yellow: #fda032;
  --green: #e6fe86;
  --bg-light: #fff8ed;
  --bg-yellow: #ffeccf;
  --bg-green: #eff1c0;
  --callout-green: #e6fe86cc;
  --callout-yellow: #ffc989cc;
}
